annotated-types
anyio
boto3~=1.35.83
botocore
certifi
charset-normalizer
click
docx2txt~=0.8
exceptiongroup
fastapi~=0.115.6
filelock
fsspec
grpcio
grpcio-tools
h11
h2
hpack
httpcore
httpx
huggingface-hub
hyperframe
idna
Jinja2
jmespath
joblib
jsonpatch
jsonpointer
langchain-core
langchain-ollama
langdetect~=1.0.9
langsmith
MarkupSafe
mpmath
networkx
numpy~=2.2.0
ollama
orjson
packaging
pandas~=2.2.3
pillow
portalocker
protobuf
pydantic~=2.10.3
pydantic_core
PyPDF2~=3.0.1
python-dateutil
python-dotenv~=1.0.1
python-multipart
pytz
PyYAML
qdrant-client
regex
requests~=2.32.3
requests-toolbelt
s3transfer
safetensors
scikit-learn
scipy
sentence-transformers
six
sniffio
starlette
sympy
tenacity
threadpoolctl
tokenizers
torch
tqdm
transformers
typing_extensions
tzdata
urllib3
uvicorn~=0.34.0

Flask~=3.1.0